
.btn{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    }
header{
    text-decoration: underline;
    text-align: center;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid teal;
    border-radius: 5px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;    
    background-color:#05386b;
    color: #edf5e1;
    }
#intro{
    max-width: 720px;
    
    background-color: #379683;   
    }
a:link{color:lightblue }
a:hover{color:darkmagenta}
a:visited{color:darkslateblue}
a:active{color:darkturquoise}
body{
    background-color: #5cdb95;
    } 
.error-message{
    display:none;
    text-align: center;
    }
.centered{
    text-align: center;
    }
p{
    font-size: 24px;
    color:#edf5e1;
    line-height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    }
#covid-form{
    justify-items: center;
    text-align: center
    }
.state-form{
    max-width: 80px;
    text-transform: lowercase;
    } 
h2 {
    text-align:center;
    color:#05386b;
    }
#main-div{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
    margin-top:26px;
    border: #8ee4af double 20px;
    padding: 20px 10px;
    }
#button{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
    }
#results-container{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 60px;
    color: rgb(44, 68, 44);
    max-width: 1010vw;
    margin-right: auto;
    margin-left: auto;
    border: #8ee4af double 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
label{
    font-family: cursive;
    color:rgb(44, 68, 44);
    }
fieldset{
    font-size: 24px;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    height: 60%;
    }
legend{
    font-family: cursive;
    color:rgb(44, 68, 44);
    }
#youtube-video {
    display: grid;
    max-width: 800px;
    margin-right:auto;
    margin-left: auto;
    }
@media screen and (max-width: 620px){
    header{
        text-decoration: underline;
        text-align: center;
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 1px solid #379683;
        border-radius: 5px;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;    
        background-color:#05386B;
        color: #edf5e1;
        }
    #main-div{
        display: flex;
        flex-direction: column;
        }
    h2{
        color: #edf5e1;
        }

    fieldset{
        font-size: 18px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        }
    label{
        color:black;
        }
    p {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px; 
        font-size: 16px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:#edf5e1;
        }
      
    .state-form{
        max-width: 40px;
        }  
    #button{
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 240px;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 20px;
        margin-top: 20px;
        }
    #intro{
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        background-color: #379683;   
        }
    ul{
        list-style-type: none;
        }
    input, .btn{
        margin-bottom: 10px;
        } 
    
    .results {
        flex: 1;
        flex-wrap:wrap;
        columns: #edf5e1;
        }
    .error-message{
        display:none;
        }
    .centered{
        text-align: center;
        }
    a:link{color:blue };
    a:hover{color:darkmagenta};
    a:visited{color:darkslateblue};
    a:active{color:darkturquoise};

    }
