header{
    text-decoration: underline;
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid teal;
    border-radius: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;    
    background-color: wheat;
}
h2 {
    text-align:center;
}
p {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

body{
    background-color: wheat;
}
#covid-form{
    justify-items: center;
    text-align: center
}
.state-form{
    max-width: 40px;
}
.state-form{
    text-transform: lowercase;
}