header{
    text-decoration: underline;
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid teal;
    border-radius: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;    
    background-color: wheat;
}
h2 {
    text-align:center;
}
p {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

body{
    background-color: wheat;
}
#covid-form{
    justify-items: center;
    text-align: center
}
.state-form{
    max-width: 40px;
}
.state-form{
    text-transform: lowercase;
}
#button{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
ul{
    list-style-type: none;
   

}
input{
    margin-bottom: 10px;
}
.btn{
    margin-bottom:10px;
}
#results-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.error-message{
    display:none;
}
.centered{
    text-align: center;
}
